body {
  font-family: 'Arial', sans-serif;
  background-image: url(img/c736c687ac4b40506ce1a46c5b9b6d06.jpg);
  background-color: #eaeaea; /* Cor de fundo suave */
  color: #333;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 2.5em;
}

h2 {
  color: #6c29b9;
  margin-bottom: 10px;
}

button {
  background-color: #c507ffd2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s; 
}

button:hover {
  background-color: #390141;
  transform: scale(1.05); 
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.centralizado {
  text-align: center; 
  color: #6c29b9;
}


.question, .result {
  background-color: white; 
  border-radius: 10px; 
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
  margin: 0 auto 20px; 
  max-width: 600px;
}


.result {
  text-align: center; 
}

@media (max-width: 600px) {
  h1 {
      font-size: 1.8em; /* Ajustar tamanho do título em telas pequenas */
  }
};